# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    S:httpSensorKey=e0737c5809ad40678714705f6d237e8e
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailable=true
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20

    # Valid inputs: normal or old [default: normal]
    S:recipes=normal
    I:remoteThermalMonitorEnergyConsumption=1
}


