# Configuration file

biome {
    I:biomeDegraded=105
}


block {
    B:bloodChest=true
    B:bloodInfuser=true
    B:bloodStainedBlock=true

    # The blacklisted blood stained blocks, by block name.
    S:bloodStainedBlock.blockBlacklist <
        minecraft:redstone_lamp
        minecraft:crafting_table
     >

    # The amount of blood per HP (2HP = 1 heart) of the max mob health that will be added to this block when a mob dies from fall damage.
    I:bloodStainedBlock.bloodMBPerHP=20
    B:bloodyCobblestone=true
    B:boxOfEternalClosure=true
    B:darkBlock=true
    B:darkBloodBrick=true
    B:darkBrick=true
    B:darkOre=true
    B:darkTank=true
    B:environmentalAccumulator=true
    B:excrementPile=true

    # The relative effectiveness when compared to bonemeal if shift right click using.
    I:excrementPile.effectiveness=3

    # If Excrement can also poison any mob next to players.
    B:excrementPile.poisonEntities=false
    B:invisibleRedstoneBlock=true
    B:lightningBomb=true
    B:netherMonsterBlock=true
    B:obscuredGlass=true
    B:purifier=true
    B:sanguinaryPedestal=true
    B:spikedPlate=true

    # The amount of damage per time.
    D:spikedPlate.damage=4.0

    # The multiplier for amount of mB to receive per mob HP.
    D:spikedPlate.mobMultiplier=40.0
    B:spiritFurnace=true
    B:spiritReanimator=true
    B:undeadPlank=true
}


core {
    B:general.debug=false
    S:general.version=0.6.0b
    B:general.versionChecker=true
    B:info.debug=false
    S:info.version=0.5.2b
}


"degradation effect" {
    B:biome=true
    B:knockbackDistort=true
    B:mobSpawn=true
    B:nauseate=true
    B:particle=true
    B:sound=true
    B:terraform=false
}


enchantment {
    I:breaking=101
    I:lifeStealing=102
    I:poisonTip=104
    I:unusing=103
}


entity {
    # Defines the maximum number of blocks the client's broom should move when we notice there is a desync between the client's and server's position.
    D:broom.desyncCorrectionValue=0.4

    # Defines the maximum number of blocks the client's broom position can be out of sync with the position sent by the server.
    D:broom.desyncThreshold=1.0

    # The amount of ticks (on average), this bomb should tick before explosion.
    I:entityLightningBomb.fuse=100
}


fluid {
    S:general.bloodConverters <
        blood:1.0
        life essence:1.0
     >
    S:info.bloodConverters <
        blood:1.0
        life essence:1.0
     >
}


general {
    B:bloodChest.addRandomBadEnchants=true
    I:bloodChest.mBPerDamage=5
    B:bloodChest.repairTConstructTools=true
    I:bloodChest.ticksPerDamage=2
    I:bloodContainer.containerSizeBase=5000
    I:bloodExtractor.containerSize=5000
    I:bloodExtractor.maxMB=750
    D:bloodExtractor.maximumMobMultiplier=40.0
    I:bloodExtractor.minMB=250
    D:bloodExtractor.minimumMobMultiplier=5.0
    D:broom.desyncCorrectionValue=0.4
    D:broom.desyncThreshold=1.0
    D:envirAcc.defaultProcessItemSpeed=0.015
    I:envirAcc.defaultProcessItemTickCount=100
    I:envirAcc.defaultTickCooldown=12000
    I:excrementPile.effectiveness=3
    B:excrementPile.poisonEntities=false
    B:general.dieWithoutAnyReason=false
    B:general.farting=true
    B:general.retrogen=true
    B:info.dieWithoutAnyReason=false
    B:info.farting=true
    B:info.versionChecker=true
    B:kineticator.moveXP=true

    # If crafting of the ender pearl should be enabled.
    B:potentiaSphere.enderPearlRecipe=true
    B:redstoneGrenade.dropAfterUsage=false
    I:spiritFurnace.mBPerTick=5
    I:spiritFurnace.requiredTicksPerHp=10
    I:vengeancePickaxe.areaOfEffect=5
    I:vengeancePickaxe.vengeanceChance=1
    I:vengeanceRing.areaOfEffect=10

    # If shapeless crafting of the higher tiers of weather containers should be enabled.
    B:weatherContainer.shapelessRecipes=true
}


item {
    B:bloodContainer=true

    # The base amount of blood (mB) this container can hold * the level of container.
    I:bloodContainer.containerSizeBase=5000
    B:bloodExtractor=true

    # The amount of blood (mB) this container can hold.
    I:bloodExtractor.containerSize=5000

    # The maximum multiplier for amount of mB to receive per mob HP. IMPORTANT: must be larger than maximumMobMultiplier!
    D:bloodExtractor.maximumMobMultiplier=40.0

    # The minimum multiplier for amount of mB to receive per mob HP.
    D:bloodExtractor.minimumMobMultiplier=5.0
    B:bloodInfusionCore=true

    # The amount of second slowness should be applied after each teleport.
    I:bloodPearl.slownessDuration=0
    B:bloodPearlOfTeleportation=true
    B:blook=true
    B:broom=true
    B:burningGemStone=true

    # How much damage this item can take.
    I:burningGemStone.maxDamage=128
    B:creativeBloodDrop=true
    B:darkGem=true
    B:darkGemCrushed=true
    B:darkPowerGem=true
    B:darkSpike=true
    B:darkStick=true
    B:exaltedCrafter=true

    # If shift clicking on an item should first try to go into the crafting grid.
    B:exaltedCrafter.shiftCraftingGrid=false
    B:hardenedBloodShard=true
    B:invertedPotentia=true

    # The capacity of the pendant.
    I:invigPendant.capacity=5000

    # The amount of seconds that will be reduced from the first found bad effect.
    I:invigPendant.reduceDuration=30

    # The amount of blood to drain after each clearing of one bad effect.
    I:invigPendant.usage=100
    B:invigoratingPendant=true
    B:kineticator=true

    # If the Kineticator should also attract XP orbs.
    B:kineticator.moveXP=true
    B:lightningGrenade=true
    B:maceOfDistortion=true
    B:necromancerStaff=true

    # The capacity of the container.
    I:necromancerStaff.capacity=10000

    # The amount of Blood that will be drained per usage.
    I:necromancerStaff.usage=2000
    B:poisonSac=true
    B:potentiaSphere=true
    B:redstoneGrenade=true

    # If the redstone grenade should drop again as an item after it is being thrown.
    B:redstoneGrenade.dropAfterUsage=false
    B:veinSword=true

    # The multiply boost this sword has on the blood that is obtained.
    D:veinSword.extractionBoost=2.0
    B:vengeanceFocus=true
    B:vengeancePickaxe=true

    # The area of effect in blocks in which this tool could enable vengeance spirits.
    I:vengeancePickaxe.areaOfEffect=5

    # The ^-1 chance for which vengeance spirits could be toggled.
    I:vengeancePickaxe.vengeanceChance=1
    B:vengeanceRing=true

    # The area of effect in # blocks of this ring.
    I:vengeanceRing.areaOfEffect=10
    B:weatherContainer=true
    B:werewolfBone=true
    B:werewolfFlesh=true
    B:werewolfFur=true
}


machine {
    # If the Blood Chest should add random bad enchants with a small chance to repairing items.
    B:bloodChest.addRandomBadEnchants=true

    # The amount Blood mB required for repairing one damage value.
    I:bloodChest.mBPerDamage=5

    # If the Blood Chest should be able to repair tools from Tinkers' Construct
    B:bloodChest.repairTConstructTools=true

    # The amount of ticks required for repairing one damage value.
    I:bloodChest.ticksPerDamage=2

    # The maximum tank size visible in the creative tabs. (Make sure that you do not cross the max int size.)
    I:darkTank.maxTankCreativeSize=4096000

    # The maximum tank size possible by combining tanks. (Make sure that you do not cross the max int size.)
    I:darkTank.maxTankSize=65536000

    # Sets the default default speed in increments per tick with which an item will move when being process by an environmental accumulator.
    D:envirAcc.defaultProcessItemSpeed=0.015

    # Sets the default amount of ticks the environmental accumulator takes to process an item.
    I:envirAcc.defaultProcessItemTickCount=100

    # Sets the default amount of ticks the environmental accumulator takes to cool down
    I:envirAcc.defaultTickCooldown=12000

    # How much mB per tick this furnace should consume.
    I:spiritFurnace.mBPerTick=5

    # The required amount of ticks for each HP for cooking an entity.
    I:spiritFurnace.requiredTicksPerHp=10

    # If the Box of Eternal Closure should be cleared after a revival.
    B:spiritReanimator.clearBoxContents=true

    # How much mB per tick this machine should consume.
    I:spiritReanimator.mBPerTick=5

    # The required amount of ticks for each reanimation.
    I:spiritReanimator.requiredTicks=500
}


mob {
    # Should the Netherfish be enabled?
    B:netherfish.isEnabled=true

    # Should the Poisonous Libelle do damage, next to poisoning?
    B:poisonousLibelle.hasAttackDamage=false

    # Should the Poisonous Libelle be enabled?
    B:poisonousLibelle.isEnabled=true

    # The blacklisted entity spirits, by entity name.
    S:vengeanceSpirit.entityBlacklist <
        werewolf
     >

    # Should the Vengeance Spirit be enabled?
    B:vengeanceSpirit.isEnabled=true

    # The maximum amount of vengeance spirits naturally spawnable in the spawnLimitArea.
    I:vengeanceSpirit.spawnLimit=5

    # The area in which the spawn limit will be checked on each spawn attempt.
    I:vengeanceSpirit.spawnLimitArea=5

    # Should the Werewolf be enabled?
    B:werewolf.isEnabled=true

    # Should the Werewolf villager be enabled?
    B:werewolfVillager.isEnabled=true

    # The id of the Werewolf villager.
    I:werewolfVillager.villagerID=66666
}


"mod compat" {
    B:Baubles=true
    B:Forestry=true
    B:ForgeMultipart=true
    B:NotEnoughItems=true
    B:TConstruct=true
    B:ThermalExpansion=true
}


oregeneration {
    I:darkOre.blocksPerVein=4
    I:darkOre.endY=66
    I:darkOre.startY=6
    I:darkOre.veinsPerChunk=10
    B:info.extraSilverfish=false
    I:netherMonsterBlock.veinsPerChunk=250
}


worldgeneration {
    # How much ores per vein.
    I:darkOre.blocksPerVein=4

    # Generation ends of this level.
    I:darkOre.endY=66

    # Generation starts from this level.
    I:darkOre.startY=6

    # How many veins per chunk.
    I:darkOre.veinsPerChunk=10
    I:general.darkTempleMaxHeight=256
    I:general.darkTempleMinDistance=300
    I:general.darkTempleMinHeight=75
    I:general.darkTempleRarity=100
    B:general.extraSilverfish=false
    I:info.darkTempleMaxHeight=256
    I:info.darkTempleMinDistance=300
    I:info.darkTempleMinHeight=75
    I:info.darkTempleRarity=100

    # How many veins per chunk.
    I:netherMonsterBlock.veinsPerChunk=250
}


